body, * {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-family: "Helvetica Neue", sans-serif;
  text-align: center;
}

button {
  padding: 20px;
  font-size: 16px;
  border: none;
  box-sizing: none;
  background-color: #00aeef;
  color: white;
  font-weight: bold;
  margin: 5px;
}

.preview {
  height: 300px;
  width: 500px;
  margin: 20px auto;
  background-position: center;
  background-size: cover;
  position: relative;
}

.previewText {
  background-color: rgba(255,255,255,0.9);
  position: absolute;
  width: 100%;
  bottom: 0;
}

.previewText h2 { text-transform: capitalize; }

.previewText h2, .previewText h4 {
  margin: 20px 0;
  padding: 0 20px;
  text-align: left;
}
