/*Global Styles*/

body, * {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

*:focus {
  outline: none;
}

button {
  padding: 20px;
  font-size: 16px;
  border: none;
  border-radius: 30px;
  width: 500px;
  box-sizing: none;
  background-color: #00aeef;
  color: white;
  font-weight: bold;
  margin: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #EF0091;
}

/*Gotcha Tag*/

.gotcha {
  padding: 20px;
  background-color: rgba(255,255,0,0.8);
}

.gotcha p { font-size: 13px; margin-top: 10px; }
.gotcha p .count { font-size: 16px; font-weight: bold; }

/*Header*/

.site-title {
  font-family: "Leckerli One", cursive;
  font-size: 80px;
  margin: 20px auto;
}

/*Preview*/

.preview {
  height: 400px;
  width: 500px;
  margin: 10px auto;
  background-position: center;
  background-size: cover;
  position: relative;
}

.previewText {
  background-color: rgba(255,255,255,0.9);
  position: absolute;
  width: 100%;
  bottom: 0;
}

.previewText h2 { text-transform: capitalize; }

.previewText h2, .previewText h4 {
  margin: 20px 0;
  padding: 0 20px;
  text-align: left;
}

.fb-share-container, .twitter-share-container, .link-display {
  display: inline-block;
  margin: 5px;
  vertical-align: middle;
}

.fb-share-container, .twitter-share-container {
  padding: 8px 12px;
  font-size: 10px;
  text-transform: uppercase;
  cursor: pointer;
}

.fb-share-container:hover, .twitter-share-container:hover {
  opacity: 0.8;
}

.fb-share-container { background-color: #425F9C; }
.twitter-share-container { background-color: #55ACEE; }

.fb-share-container a, .twitter-share-container a {
  color: white !important;
  text-decoration: none !important;
}

.link-display {
  padding: 6px 10px;
  width: 300px;
  border: none;
  border-bottom: 2px solid #00aeef;
  background-color: #f4f4f5;
}

.share-note { font-size: 12px; margin: 0 30px; }
.share-note .highlighted { font-size: 14px; font-weight: bold;}

#credits {
  font-size: 11px;
  margin-top: 50px;
  padding: 30px 0;
  background-color: #f1f1f2;
  color: #616162;
}

#credits a {
  color: #616162 !important;
}

#credits i {
  font-size: 20px;
  margin: 3px;
  color: #616162 !important;
}

@media (max-width: 725px) {
  body, * {
    letter-spacing: -.03em;
  }

  .desktop-only {
    display: none;
  }

  .site-title {
    font-size: 30px;
  }

  button, .preview {
    width: 80%;
    margin: 10px auto;
  }

  .link-display {
    width: 160px;
  }
}
