body, * {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

*:focus {
  outline: none;
}

button {
  padding: 20px;
  font-size: 16px;
  border: none;
  border-radius: 30px;
  width: 500px;
  box-sizing: none;
  background-color: #00aeef;
  color: white;
  font-weight: bold;
  margin: 20px;
}

button:hover {
  background-color: #EF0091;
}

.gotcha {
  padding: 20px;
  background-color: rgba(255,255,0,0.8);
}

.site-title {
  font-family: "Leckerli One", cursive;
  font-size: 80px;
  margin: 20px auto;
}

.preview {
  height: 300px;
  width: 500px;
  margin: 20px auto;
  background-position: center;
  background-size: cover;
  position: relative;
}

.previewText {
  background-color: rgba(255,255,255,0.9);
  position: absolute;
  width: 100%;
  bottom: 0;
}

.previewText h2 { text-transform: capitalize; }

.previewText h2, .previewText h4 {
  margin: 20px 0;
  padding: 0 20px;
  text-align: left;
}

#credits {
  font-size: 11px;
  margin-top: 50px;
  margin-bottom: 50px;
}

#credits a {
  color: #313132 !important;
}

#credits i {
  font-size: 20px;
  margin: 3px;
  color: #313132 !important;
}



@media (max-width: 725px) {
  .site-title {
    font-size: 40px;
  }

  button, .preview {
    width: 80%;
    margin: 10px auto;
  }
}
